
.background {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size:100% 51rem ;
  }
 
  .heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45rem;
    background-color: rgba(0, 0, 0, 0.6);
  }