.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  height: 6rem;
}

.logo {
  color: #fff;
  padding-left: 2rem;
  font-size: 1.7rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 80px;
}

.nav-links li {
  position: relative;
  margin-top: 0.7rem;
}

.nav-links li a {
  text-decoration: none;
  color: #ffff;
  font-size: 1.2rem;
}

.apply-button {
  background-color: transparent;
  color: #a6ecf1;
  padding: 10px 20px;
  border: 1px solid #72e8f1;
  cursor: pointer;
  margin-right: 2rem;
  margin-top: 0.4rem;
}

.apply-button:hover {
  background-color: #00c8d7;
  color: #fff;
}

.dropdown {
  position: relative;
}

.dropdown-link {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 8px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 1155px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgb(3, 3, 3); 
    width: 30%; 
    height: 360px; 
    justify-content: center;
    display: none;
    gap: 10px;
    border-radius: 1rem;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 5px 0;
  }

  .nav-links li a {
    color: #fff;
    padding: 8px 0;
    font-size: 1rem;
    background-color: black; 
  }

  .hamburger {
    display: block;
    color: #fff;
  }

  .apply-button {
    background-color: #00a8b7; 
    color: #fff; 
    margin: 1rem 0 0 1.5rem;
    border: none;
    border-radius: 0.5rem;
  }

  .apply-button:hover {
    background-color: #008a9b; 
    color: #fff;
  }

  .dropdown-menu {
    position: relative;
    width: 100%;
  }
}
@media (max-width: 610px) {
  .apply-button {
    margin: 1rem 0.5rem 0 0.5rem;
  }
}